doctype html
html(lang="en")
  head
    title Pac Man
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width,minimum-scale=1,initial-scale=1")
    link(rel="icon", href="../img/pac-man-icon.png")
  body
